%h2 Listing blogs

= search_form_for @q, :builder => SimpleForm::FormBuilder, wrapper: :inline_form, html: { class: "form-inline mb-3" } do |f|
  = f.input :title_cont, label: false, placeholder: 'Title'
  = f.button :submit, 'Search', class: 'btn btn-outline-primary'

%table.table
  %thead
    %tr
      %th Logo
      %th Title
      %th
      %th
      %th

  %tbody
    - @blogs.each do |blog|
      %tr
        %td{style: 'width: 200px;'}= image_tag blog.logo.to_s, class: 'img-fluid'
        %td= blog.title
        %td= link_to 'Show', blog
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Blog', new_blog_path
