= simple_form_for [@blog, @entry] do |form|
  = form.error_notification
  = form.input :title
  = form.input :body
  = form.input :genre, collectioon: Entry.genre.options
  = form.button :submit, class: 'btn btn-outline-primary'
