<%# /entries/:idへアクセスされた際に表示するhtmlを生成するテンプレート %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<%# editへのリンク %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%# indexへのリンク %>
<%= link_to 'Back', entries_path %>
